---
layout: blog
title: Archive
class: archive
---

<h1 class="archive-title">Archive for {{ page.date | date: "%B %Y" }}</h1>
<div class="entries">
  <ul class="entry-list">
  {% for post in page.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <time class="archdate">{{ post.date | date: "%b %-d, %Y" }}</time>
        <div class="category-entry-title">{{ post.title | escape}}</div>
      </a>
    </li>
  {% endfor %}
  </ul>
<div class="dotted-border-img"></div>
